* {
   margin: 0;
}

.list, 
.contacts {
   list-style: none;
}

a {
   text-decoration: none;
}

/**
  |============================
  | Font Styles
  |============================
*/

body {
   font-family: 'Roboto','Raleway', sans-serif;
   color: #2E2F42;

}

h1 {
   font-weight: 700;
   font-size: 56px;
   line-height: 60px;
}

h2 {
   font-weight: 700;
   font-size: 36px;
   line-height: 40px;
}

h3 {
   font-weight: 500;
   font-size: 20px;
   line-height: 24px;
}

p {
   font-size: 16px;
   line-height: 24px;
}

.menu {
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.02em;
   color: #2E2F42;
}

/**
  |============================
  | Button Styles
  |============================
*/

.button-order {
   color: #FFFFFF;
   background-color: #4D5AE5;
}

.button-order:hover,
.button-order:focus {
   color: #FFFFFF;
   background-color: #404BBF;
   cursor: pointer;
}


.button-filter {
   color: #4D5AE5;
   background-color: #E7E9FC;
}

.button-filter:hover,
.button-filter:focus {
   color: #FFFFFF;
   background-color: #404BBF;
   cursor: pointer;
}

/**
  |============================
  | Contact Styles
  |============================
*/

.contact-item {
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.02em;
   color: #434455;
}

.contact-link :hover,
.contact-link :focus {
   color: #404BBF;
}

/**
  |============================
  | Logo Style
  |============================
*/

.logo-web,
.logo-dark,
.logo-light {
   font-family: 'Raleway';
   font-weight: 800;
   font-size: 1.33em;
   display: flex;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}

.logo-web {
   color: #4D5AE5;
}

.logo-dark {
   color: #2E2F42;
}

.logo-light {
   color: #F4F4FD;
}

/**
  |============================
  | Footer Style
  |============================
*/

.footer {
   background: #2E2F42;
}

.footer-text {
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #E7E9FC;
}

/**
  |============================
  | Order Service Style
  |============================
*/

.dark-bg {
   background: #2E2F42;
   color: #fff;
}

